body{
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#slide1 {
    background-image: url('./assets/marriott1.webp');
    margin-right:20px;
  }
  
  #slide2 {
    background-image: url('./assets/marriott2.webp');
    margin-right:20px;
  }
  
  #slide3 {
    background-image: url('./assets/marriott3.webp');
    margin-right:20px;
  }
  
  #slide4 {
    background-image: url('./assets/marriott4.webp');
    margin-right:20px;
  }
  
  #slide5 {
    background-image: url('./assets/marriott5.jpg');
    margin-right:20px;
  }

  .slide-image {
    width: 50vw;
    height: 50vh;
  }
  .slide-image {
    width: 50vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
  }
  #carousel {
    position:absolute;
    white-space: nowrap;
    width: 50vw;
    height: 50vh;
    margin-left:0;
    
  }
  
  .slide-image {
    width: 50vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: inline-block;
  }
  section{
    top:20%;
    z-index:0;
  }
  .header{
    text-align: center;
  }
  .article{
    position: absolute;
    margin:0;
    right:2px;
    z-index:1;
    top:70%;
    width:100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    text-align: center;
  }
  footer p {
    font-size:20px;
  }